.body {
    display: flex;
    justify-content: space-around;
}
#start {
    height: 25vh;
    width: 25vw;
    font-size: 5vh;
    margin-right: 30vh;
    background: green;
}

#stop {
    height: 25vh;
    width: 25vw;
    font-size: 5vh;
    background: red;
}
